
@import "variables";
body {
    padding: 0em 1em 0em 1em;
}
#background{
    background: red;
    border-radius: 6px;
    padding: 2px;
    color: #ddd;
}

a {
    text-decoration: none;
    color: black;
}
.color{
    color: red;
}
#span{
    color: blue;
}
#span1{
    color:red;
}
ul {
    margin: -8px 0px 4px -3px;
}


.backgroundimg{
    background-image: url(../asset/ppppp.png);
    padding-top: 54em;
}


#span{
    position: relative;
    bottom: 1.5em;
    right: 75em;
}
#span1{
    position: relative;
    bottom: 1.5em;
    right: 75em;
}
.text-alignleft {
    text-align: left;
    background: #1baae1;
    margin: 0em 100em 0em 3em;
    padding: 5px 0px 0px 0px;
    border-radius: 10em;
    position: relative;
    bottom: 25em
}
h1 {
    text-align: left;
}
li {
    list-style: none;
    display: inline-block;
    padding: 4px 16px 2px 0px;
}
.floatleft{
    float: left;
    width: 50%;
    position: relative;
    top: 104px;
    left: 58px;
}
.floatright{
    float:right;
    width: 50%;
}
.img {
    position: relative;
    top: 4em;
    right: 7em;
}
p {
    text-align: left;
}
.clear{
    clear: both;
}
.pading{
    padding: 0px 0px 0px 69px;
    color: white
}
.button {
    position: relative;
    left: 46em;
    bottom: 1.8em;
    border-radius: 1em;
    background: white;
    color: red;
    padding: 8px 15px 8px 15px;
}
#floatleft {
    float: left;
    margin: -51.5em 0em 0em 0em;
}
#floatright {
    float: right;
    margin: -51em -1em;
    width: 10em;
}
.imgg {
    position: relative;
    bottom: 35.7em;
    left: 45.3em;
    width: 33%;
}
.floatleftt{
    float: left;
}
.floatrightt{
    float: right;
}
.h3 {
    position: relative;
    bottom: 23.6em;
    left: 32.4em;
}
.p1 {
    position: relative;
    left: 62.6em;
    bottom: 41.7em;
}
.imgg2 {
    position: relative;
    top: -19em;
    right: -28.5em;
    width: 33%;
}
.hh3 {
    position: relative;
    left: 23.4em;
    bottom: 14.2em;
}
.p2 {
    position: relative;
    right: -46.7em;
    bottom: 25.1em;
}
.hh4 {
    position: relative;
    right: 19.3em;
    bottom: 30.5em;
}
.p3 {
    position: relative;
    left: -28.9em;
    bottom: 54em;
}
.imgg3 {
    position: relative;
    bottom: 47.5em;
    left: -46.5em;
    width: 32%;
}
.hh5 {
    position: relative;
    left: -8.5em;
    bottom: 21.2em;
}
.p4 {
    position: relative;
    left: -11.2em;
    bottom: 37.2em;
}
.imgg4 {
    position: relative;
    top: -31em;
    left: -29.4em;
    width: 34%;
}
#imgg5{
    margin: -14em 0em 0em 6em;
    position: relative;
    bottom: 28em;
}
.text-align{
    text-align:center ;
}
.flex{
    display: flex;
    justify-content: space-around;
    margin: 0em 30em 0em 30em;
}
.flex1{
    box-shadow: 0px 1px 7px -1px;
    border-radius: 1em;
       padding: 53px 100px 53px 100px;
}
.flex2{
    box-shadow: 0px 1px 7px -1px;
    border-radius: 1em;
       padding: 53px 100px 53px 100px;
}
.flex3{
    box-shadow: 0px 1px 7px -1px;
    border-radius: 1em;
        padding: 53px 100px 53px 100px;
}
.flex4{
    box-shadow: 0px 1px 7px -1px;
    border-radius: 1em;
       padding: 53px 100px 53px 100px;
}
.text-left{
   text-align: left;
}
.width {
    width: 30%;
    height: 8px;
    background: #dfdfdf;
    margin: 30px -10em 62px 0px;
    position: relative;
    top: 22em;
    right: 12.5em;
    border-radius: 1em;
}
#matn {
    position: relative;
    right: 42em;
    bottom: 13em;
}
#h4 {
    position: relative;
    bottom: 7.5em;
    right: 23em;
}
#var {
    position: relative;
    right: 24.3em;
    bottom: 4.7em;
}
#matn {
    position: relative;
    right: 26.4em;
    bottom: 1.5em;
}
.darajeh {
    width: 60%;
    height: 8px;
    background: #f1024f;
    border-radius: 1em;
    margin: -22.9em 12.8em 0em 0em
}
.pain {
    width: 45%;
    height: 8px;
    background: $color;
    border-radius: 1em;
    margin: -297px 17.5em 0em 0em
}
.degre {
    width: 80%;
    height: 8px;
    background: $color;
    border-radius: 1em;
    margin: -227.1px 6.4em 0em 0em;
}
#h3 {
    position: relative;
    bottom: 13.3em;
    left: 1.5em;
    color: rgba(5, 22, 255, 0.938);
}
#hhh3 {
    position: relative;
    bottom: 8.2em;
    left: 1.5em;
    color: rgba(5, 22, 255, 0.938);
}
#hh3 {
    position: relative;
    bottom: 10.8em;
    left: 1.5em;
    color: rgba(5, 22, 255, 0.938);
}
.mx-auto {
    width: 50%;
}
//steki meno
.background.show {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 1;
    background: linear-gradient(15deg, #1baae1, #0b45e9);;
}
.background {
    background: blanchedalmond;
    padding: 28px 0px 3px 2px;
    opacity: 0.8;
    transition: all 2s;
}
//accordion
.accordion {
    width: 50%;
    text-align: center;
    position: relative;
    right: 43em;
}
.accordion > div > span {    
background-color: #ddd;
    display: block;
    cursor: pointer;
    padding: 15px 0px;
    border-bottom: 1px solid #ccc;
}
.accordion > div:first-child > span{
    border-radius: 15px 15px 0px 0px;
}
.accordion > div:last-child > span{
    border-radius: 0 0 15px 15px;
    border-bottom: 0;
}
.accordion > div.show:last-child > span{
    border-radius: 0;
}
.accordion > div.show:last-child > div{
    border-radius: 0 0 15px 15px;
    border-bottom: 1px solid #ccc;
}
.accordion > div > span:after {
    content: "\002b";
    float: right;
}
.accordion > div.show > span:after {
    content: "\2212";
}
.accordion > div > span:hover,
.accordion > div.show > span {
    background-color: #bbb3b6;
}
.accordion > div > div {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
    padding: 0 15px;
}
.accordion > div.show > div{
    padding: 15px;
    
}
//DARK MOD
div.themes > div {
    height: 26px;
    width: 26px;
    float: left;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid #555;
}
.light{
    background-color: #fff;
    color: #000;
}
.dark{
    background-color: #444;
    color: #fff;
}
.position-right{
    padding: 0em 44em 0em 0em;

}
//scorol-top
.scroll {
    background: #033d78;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    display: inline-block;
    position: fixed;
    bottom: 1em;
    right: 1em;
    cursor: pointer;
    opacity: 0;
}
.scroll.show {
    opacity: 1;
}
.sec-3 {
    padding-top: 10em;
}
.p-top {
    padding-top: 12em;
}
.float-left {
    float: left;
    width: 50%;
    padding-left: 3em;
}
.float-right {
    float: right;
    width: 50%;
    padding-left: 4em;
}
#background-color {
    box-shadow: 0em 0em 1em 0em #ddd;
    width: 80%;
    border-radius: 17px;
    position: relative;
    top: -6em;
    right: 11.5em;
    background-color:#6a892a ;
    padding: 3em;
}
img.border-rad {
    margin: 10px;
    border-radius: 20px;
}
.space {
    padding-top: 6em;
}
.p-pain {
    position: relative;
    left: 2em;
}
img.text-left-left {
    padding: 0em 15.9em 0em 0em;
}
#i {
    color: rgb(248, 85, 85);
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 16%;
}
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  #myBtn {
    margin: 0em 80em 0em 0em;
    padding: 5px 5px 5px 5px;
    border-radius: 2em;
    background-color: blue;
    color: white;
}
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


  @media only screen and (min-width:1200px) {
.background {
        margin: 0px -14px 0px -15px;
    }
    #span1{
    right: 48em;
 }
 #span{
    right: 48em;
 }
 .position-right {
    padding: 0em 22em 0em 0em;
}
.img {
    position: relative;
    top: 0em;
    right: 0em;
}
.text-alignleft {
    margin: 17em 32em 0em 0em;
}
.modal-content {
    height: 30%;
}
.imgg4 {
    position: relative;
    left: -22.4em;
    width: 28%}
    .hh5 {
        position: relative;
        left: -5em;
        bottom: 21em;
    }
.p4 {
        position: relative;
        left: -5.2em;
}
.imgg3 {
    position: relative;
    left: -39.5em;
    width: 28%;
}
.hh4 {
    position: relative;
    right: 15.5em;
}
.p3 {
    position: relative;
    left: -22.3em;
}
.imgg {
    position: relative;
    left: 39.3em;
    width: 28%;
}
.h3 {
    position: relative;
    left: 28.7em;
}
.p1 {
    position: relative;
    left: 56em;
}
.imgg2 {
    position: relative;
    right: -23.5em;
    width: 28%;
}
.hh3 {
    position: relative;
    left: 20em;
}
.p2 {
    position: relative;
    right: -40.7em;
}
.button {
    position: relative;
    left: 32em;
    bottom: 1.8em;
}
.pading {
    position: relative;
    top: 19px;
}
.accordion{
    position: relative;
    right: 18em;
}
#myBtn {
    margin: 0em 33em 0em 0em;
}
#imgg5 {
    width: 32%;
  }
  .flex {
    margin: 0em;
}
  .flex1 {
    padding: 53px 69px 53px 100px;
}
.flex4 {
  
    padding: 53px 69px 53px 100px;
}
.flex3 {
    padding: 53px 69px 53px 100px;
}
.flex2 {
    padding: 53px 69px 53px 100px;
}
img.text-left-left {
    padding: 0em 0.9em 0em 0em;
    width: 73%;
    margin: 0em 12em 0em 0em;
}
#background-color {
    right: 9.8em;
    padding: 3em 0em 3em 0em;
}
.text-left {
    position: relative;
    right: 2em;
}
img.border-rad {
    width: 98%;
}
.space {
    padding-top: 1em;
}
.text-endd {
    text-align: end;
}
.p-pain {
    position: relative;
    left: 0em;
}
.png {
    width: 75%;
    position: relative;
    right: 37em;
    top: 21em;
}
.width {
    width: 43%;
    position: relative;
    top: 43em;
    right: 13em;
}
.degre {
    margin: -36.1px 6.4em 0em 0em;
}
#hhh3 {
    position: relative;
    bottom: 1.6em;
}
.pain {
    margin: -93px 17.5em 0em 0em;
}
#hh3 {
    position: relative;
    bottom: 22.5em;
}
.darajeh {
    margin: -163.3px 12.8em 0em 0em;
}
#h3 {
    position: relative;
    bottom: 25em;
}#h4 {
    position: relative;
    right: 12.6em;
}
#var {
    position: relative;
    right: 14em;
}
#matn {
    position: relative;
    right: 15.8em;
}
#headlines {
    position: relative;
    right: 0em;
}
}