body {
  padding: 0em 1em 0em 1em;
}

#background {
  background: red;
  border-radius: 6px;
  padding: 2px;
  color: #ddd;
}

a {
  text-decoration: none;
  color: black;
}

.color {
  color: red;
}

#span {
  color: blue;
}

#span1 {
  color: red;
}

ul {
  margin: -8px 0px 4px -3px;
}

.backgroundimg {
  background-image: url(../asset/ppppp.png);
  padding-top: 54em;
}

#span {
  position: relative;
  bottom: 1.5em;
  right: 75em;
}

#span1 {
  position: relative;
  bottom: 1.5em;
  right: 75em;
}

.text-alignleft {
  text-align: left;
  background: #1baae1;
  margin: 0em 100em 0em 3em;
  padding: 5px 0px 0px 0px;
  border-radius: 10em;
  position: relative;
  bottom: 25em;
}

h1 {
  text-align: left;
}

li {
  list-style: none;
  display: inline-block;
  padding: 4px 16px 2px 0px;
}

.floatleft {
  float: left;
  width: 50%;
  position: relative;
  top: 104px;
  left: 58px;
}

.floatright {
  float: right;
  width: 50%;
}

.img {
  position: relative;
  top: 4em;
  right: 7em;
}

p {
  text-align: left;
}

.clear {
  clear: both;
}

.pading {
  padding: 0px 0px 0px 69px;
  color: white;
}

.button {
  position: relative;
  left: 46em;
  bottom: 1.8em;
  border-radius: 1em;
  background: white;
  color: red;
  padding: 8px 15px 8px 15px;
}

#floatleft {
  float: left;
  margin: -51.5em 0em 0em 0em;
}

#floatright {
  float: right;
  margin: -51em -1em;
  width: 10em;
}

.imgg {
  position: relative;
  bottom: 35.7em;
  left: 45.3em;
  width: 33%;
}

.floatleftt {
  float: left;
}

.floatrightt {
  float: right;
}

.h3 {
  position: relative;
  bottom: 23.6em;
  left: 32.4em;
}

.p1 {
  position: relative;
  left: 62.6em;
  bottom: 41.7em;
}

.imgg2 {
  position: relative;
  top: -19em;
  right: -28.5em;
  width: 33%;
}

.ttext-left {
  text-align: left;
}

.hh3 {
  position: relative;
  left: 23.4em;
  bottom: 14.2em;
}

.p2 {
  position: relative;
  right: -46.7em;
  bottom: 25.1em;
}

.hh4 {
  position: relative;
  right: 19.3em;
  bottom: 30.5em;
}

.p3 {
  position: relative;
  left: -28.9em;
  bottom: 54em;
}

.imgg3 {
  position: relative;
  bottom: 47.5em;
  left: -46.5em;
  width: 32%;
}

.hh5 {
  position: relative;
  left: -8.5em;
  bottom: 21.2em;
}

.p4 {
  position: relative;
  left: -11.2em;
  bottom: 37.2em;
}

.imgg4 {
  position: relative;
  top: -31em;
  left: -29.4em;
  width: 34%;
}

#imgg5 {
  margin: -14em 0em 0em 6em;
  position: relative;
  bottom: 28em;
}

.text-align {
  text-align: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0em 30em 0em 30em;
}

.flex1 {
  -webkit-box-shadow: 0px 1px 7px -1px;
          box-shadow: 0px 1px 7px -1px;
  border-radius: 1em;
  padding: 53px 100px 53px 100px;
}

.flex2 {
  -webkit-box-shadow: 0px 1px 7px -1px;
          box-shadow: 0px 1px 7px -1px;
  border-radius: 1em;
  padding: 53px 100px 53px 100px;
}

.flex3 {
  -webkit-box-shadow: 0px 1px 7px -1px;
          box-shadow: 0px 1px 7px -1px;
  border-radius: 1em;
  padding: 53px 100px 53px 100px;
}

.flex4 {
  -webkit-box-shadow: 0px 1px 7px -1px;
          box-shadow: 0px 1px 7px -1px;
  border-radius: 1em;
  padding: 53px 100px 53px 100px;
}

.text-left {
  text-align: left;
}

.width {
  width: 30%;
  height: 8px;
  background: #dfdfdf;
  margin: 30px -10em 62px 0px;
  position: relative;
  top: 22em;
  right: 12.5em;
  border-radius: 1em;
}

#matn {
  position: relative;
  right: 42em;
  bottom: 13em;
}

#h4 {
  position: relative;
  bottom: 7.5em;
  right: 23em;
}

#var {
  position: relative;
  right: 24.3em;
  bottom: 4.7em;
}

#matn {
  position: relative;
  right: 26.4em;
  bottom: 1.5em;
}

.darajeh {
  width: 60%;
  height: 8px;
  background: #f1024f;
  border-radius: 1em;
  margin: -22.9em 12.8em 0em 0em;
}

.pain {
  width: 45%;
  height: 8px;
  background: #f1024f;
  border-radius: 1em;
  margin: -297px 17.5em 0em 0em;
}

.degre {
  width: 80%;
  height: 8px;
  background: #f1024f;
  border-radius: 1em;
  margin: -227.1px 6.4em 0em 0em;
}

#h3 {
  position: relative;
  bottom: 13.3em;
  left: 1.5em;
  color: rgba(5, 22, 255, 0.938);
}

#hhh3 {
  position: relative;
  bottom: 8.2em;
  left: 1.5em;
  color: rgba(5, 22, 255, 0.938);
}

#hh3 {
  position: relative;
  bottom: 10.8em;
  left: 1.5em;
  color: rgba(5, 22, 255, 0.938);
}

.mx-auto {
  width: 50%;
}

.background.show {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 1;
  background: linear-gradient(15deg, #1baae1, #0b45e9);
}

.background {
  background: blanchedalmond;
  padding: 28px 0px 3px 2px;
  opacity: 0.8;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.accordion {
  width: 50%;
  text-align: center;
  position: relative;
  right: 43em;
}

.accordion > div > span {
  background-color: #ddd;
  display: block;
  cursor: pointer;
  padding: 15px 0px;
  border-bottom: 1px solid #ccc;
}

.accordion > div:first-child > span {
  border-radius: 15px 15px 0px 0px;
}

.accordion > div:last-child > span {
  border-radius: 0 0 15px 15px;
  border-bottom: 0;
}

.accordion > div.show:last-child > span {
  border-radius: 0;
}

.accordion > div.show:last-child > div {
  border-radius: 0 0 15px 15px;
  border-bottom: 1px solid #ccc;
}

.accordion > div > span:after {
  content: "\002b";
  float: right;
}

.accordion > div.show > span:after {
  content: "\2212";
}

.accordion > div > span:hover,
.accordion > div.show > span {
  background-color: #bbb3b6;
}

.accordion > div > div {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 0 15px;
}

.accordion > div.show > div {
  padding: 15px;
}

div.themes > div {
  height: 26px;
  width: 26px;
  float: left;
  margin-right: 5px;
  cursor: pointer;
  border: 1px solid #555;
}

.light {
  background-color: #fff;
  color: #000;
}

.dark {
  background-color: #444;
  color: #fff;
}

.position-right {
  padding: 0em 44em 0em 0em;
}

.scroll {
  background: #033d78;
  color: #fff;
  padding: 5px 10px;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: inline-block;
  position: fixed;
  bottom: 1em;
  right: 1em;
  cursor: pointer;
  opacity: 0;
}

.scroll.show {
  opacity: 1;
}

.sec-3 {
  padding-top: 10em;
}

.p-top {
  padding-top: 12em;
}

.float-left {
  float: left;
  width: 50%;
  padding-left: 3em;
}

.float-right {
  float: right;
  width: 50%;
  padding-left: 4em;
}

#background-color {
  -webkit-box-shadow: 0em 0em 1em 0em #ddd;
          box-shadow: 0em 0em 1em 0em #ddd;
  width: 80%;
  border-radius: 17px;
  position: relative;
  top: -6em;
  right: 11.5em;
  background-color: #6a892a;
  padding: 3em;
}

img.border-rad {
  margin: 10px;
  border-radius: 20px;
}

.space {
  padding-top: 6em;
}

.p-pain {
  position: relative;
  left: 2em;
}

img.text-left-left {
  padding: 0em 15.9em 0em 0em;
}

#i {
  color: #f85555;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 16%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#myBtn {
  margin: 0em 80em 0em 0em;
  padding: 5px 5px 5px 5px;
  border-radius: 2em;
  background-color: blue;
  color: white;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.topnav {
  display: none;
  margin: 0em -1em 0em 0em;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #04AA6D;
  color: white;
  text-align: end;
}

.col-md-8.mx-auto {
  border: ridge 2px;
  border-radius: 1em;
}

@media only screen and (max-width: 1200px) {
  .background {
    margin: 0em -1em 0em -0.9em;
  }
  #span1 {
    right: 43em;
    bottom: 28px;
  }
  #span {
    right: 43em;
    bottom: 28px;
  }
  .position-right {
    padding: 0em 22em 0em 0em;
  }
  .img {
    position: relative;
    top: -1em;
    right: 0em;
    width: 61%;
  }
  .float-left {
    padding-top: 9em;
  }
  .text-alignleft {
    margin: 17em 32em 0em 0em;
  }
  .modal-content {
    height: 30%;
  }
  .imgg4 {
    position: relative;
    left: -24em;
    width: 25%;
  }
  .hh5 {
    position: relative;
    left: -6em;
    bottom: 20.5em;
  }
  .p4 {
    position: relative;
    left: -6.9em;
    bottom: 36.5em;
  }
  .imgg3 {
    position: relative;
    left: -39.5em;
    bottom: 48.5em;
    width: 25%;
  }
  .hh4 {
    position: relative;
    right: 15.5em;
  }
  .p3 {
    position: relative;
    left: -22.3em;
  }
  .imgg {
    position: relative;
    left: 39.3em;
    width: 25%;
    bottom: 37.6em;
  }
  .h3 {
    position: relative;
    left: 28.7em;
    bottom: 24.3em;
  }
  .p1 {
    position: relative;
    left: 56em;
    bottom: 43em;
  }
  .imgg2 {
    position: relative;
    right: -21.5em;
    width: 25%;
    top: -20em;
  }
  .hh3 {
    position: relative;
    left: 19em;
  }
  .p2 {
    position: relative;
    right: -39em;
  }
  .button {
    position: relative;
    left: 32em;
    bottom: 1.8em;
  }
  .pading {
    position: relative;
    top: 19px;
  }
  .accordion {
    position: relative;
    right: 18em;
  }
  #myBtn {
    margin: 0em 33em 0em 0em;
  }
  #imgg5 {
    width: 30%;
  }
  .flex {
    margin: 0em;
  }
  .flex1 {
    padding: 53px 69px 53px 100px;
  }
  .flex4 {
    padding: 53px 69px 53px 100px;
  }
  .flex3 {
    padding: 53px 69px 53px 100px;
  }
  .flex2 {
    padding: 53px 69px 53px 100px;
  }
  img.text-left-left {
    padding: 0em 0.9em 0em 0em;
    width: 73%;
    margin: 0em 12em 0em 0em;
  }
  #background-color {
    right: 9.8em;
    padding: 3em 0em 3em 0em;
  }
  .text-left {
    position: relative;
    right: 2em;
  }
  img.border-rad {
    width: 98%;
  }
  .space {
    padding-top: 1em;
  }
  .text-endd {
    text-align: end;
  }
  .p-pain {
    position: relative;
    left: 0em;
  }
  .png {
    width: 75%;
    position: relative;
    right: 37em;
    top: 21em;
  }
  .width {
    width: 43%;
    position: relative;
    top: 43em;
    right: 13em;
  }
  .degre {
    margin: -37.1px 6.4em 0em 0em;
  }
  #hhh3 {
    position: relative;
    bottom: 1.6em;
  }
  .pain {
    margin: -86px 17.5em 0em 0em;
  }
  #hh3 {
    position: relative;
    bottom: 22.1em;
  }
  .darajeh {
    margin: -155.3px 12.8em 0em 0em;
  }
  #h3 {
    position: relative;
    bottom: 24.5em;
  }
  #h4 {
    position: relative;
    right: 12.6em;
    bottom: 6.5em;
  }
  #var {
    position: relative;
    right: 14em;
    top: -3.5em;
  }
  #matn {
    position: relative;
    right: 15.8em;
  }
  #headlines {
    position: relative;
    right: 0em;
  }
}

@media only screen and (max-width: 768px) {
  .topnav.show {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    margin: 0em -20em 0em 0em;
  }
  .topnav {
    display: block;
    width: 125%;
    opacity: 1;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  section.background {
    display: none;
  }
  .img {
    width: 90%;
  }
  div.themes > div {
    position: relative;
    right: 12em;
  }
  .position-right {
    padding: 0em 13em 1em 0em;
  }
  #myModal {
    width: 117%;
  }
  .modal-content {
    margin: 12em 11em 0em 0em;
  }
  #right {
    position: relative;
    bottom: 20em;
    right: 10em;
  }
  .text-alignleft {
    margin: 8em 25em -6em -10em;
  }
  button.button {
    position: relative;
    left: 22em;
  }
  .accordion {
    position: relative;
    right: 13em;
    width: 61%;
  }
  #myBtn {
    margin: 0em 23.9em 0em 0em;
  }
  .backgroundimg {
    width: 123%;
  }
  #imgg5 {
    width: 40%;
    position: relative;
    bottom: 37em;
  }
  .imgg3 {
    position: relative;
    left: -25.5em;
    top: -51em;
  }
  .hh4 {
    position: relative;
    right: 8.7em;
    bottom: 35.5em;
  }
  .p3 {
    position: relative;
    left: -7.9em;
    bottom: 57em;
  }
  .imgg4 {
    position: relative;
    left: -8.6em;
    top: -45em;
  }
  .hh5 {
    position: relative;
    left: 2.6em;
    bottom: 31.5em;
  }
  .p4 {
    position: relative;
    left: 8.8em;
    bottom: 50.5em;
  }
  .imgg {
    position: relative;
    left: 14.8em;
    top: -28em;
  }
  .h3 {
    position: relative;
    left: 15.9em;
    top: -20.7em;
  }
  .p1 {
    position: relative;
    left: 32em;
    bottom: 33.6em;
  }
  .imgg2 {
    position: relative;
    right: 1.9em;
    top: -22em;
  }
  .hh3 {
    position: relative;
    left: 5.6em;
    bottom: 17em;
  }
  .p2 {
    position: relative;
    right: -15.7em;
    bottom: 27.5em;
  }
  .png {
    width: 47%;
    position: relative;
    right: 32em;
    top: 15em;
  }
  .width {
    width: 61%;
    position: relative;
    top: 47em;
    right: 16em;
  }
  .degre {
    margin: -35.1px 6.4em 0em 0em;
  }
  #matn {
    position: relative;
    right: 15.2em;
  }
  .pain {
    margin: -81px 16.3em 0em 0em;
  }
  #var {
    position: relative;
    right: 13.4em;
  }
  #hh3 {
    position: relative;
    bottom: 3.3em;
  }
  .darajeh {
    margin: -150.3px 12.3em 0em 0em;
  }
  #h4 {
    position: relative;
    right: 12em;
    bottom: 6.6em;
  }
  #h3 {
    position: relative;
    bottom: 6.2em;
  }
  .flex {
    margin: 0em 9em 0em 0em;
  }
  .flex4 {
    padding: 53px 34px 53px 65px;
  }
  .flex3 {
    padding: 53px 34px 53px 65px;
  }
  .flex2 {
    padding: 53px 34px 53px 65px;
  }
  .flex1 {
    padding: 53px 43px 53px 65px;
  }
  img.text-left-left {
    width: 107%;
  }
  .text-left {
    position: relative;
    right: 9em;
  }
  #background-color {
    right: 21.3em;
    font-size: small;
  }
  img.border-rad {
    width: 240%;
  }
  .mx-auto {
    width: 70%;
  }
  .text-endd {
    font-size: small;
  }
  .space {
    font-size: small;
    padding-top: 2em;
    position: relative;
    right: 10em;
    bottom: -1em;
  }
  .font-size {
    font-size: large;
  }
  .scroll {
    right: -9em;
  }
}
/*# sourceMappingURL=main.css.map */